<h3>Detalles del Empleado</h3>
<div class="employee-details">
    <div class="detail-item">
        <label><b>ID:</b></label> <span>{{ empleado.id }}</span>
    </div>
    <div class="detail-item">
        <label><b>Nombre:</b></label> <span>{{ empleado.nombre }}</span>
    </div>
    <div class="detail-item">
        <label><b>Apellido:</b></label> <span>{{ empleado.apellido }}</span>
    </div>
    <div class="detail-item">
        <label><b>Email:</b></label> <span>{{ empleado.email }}</span>
    </div>
</div>
